<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        >
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/ja.js'></script>
        <style type="text/css">
            /* 日曜日 */
            .fc-sun {
                color: red;
                background-color: #fff0f0;
            }

            /* 土曜日 */
            .fc-sat {
                color: blue;
                background-color: #f0f0ff;
            }
        </style>

        <title>fullCalendar</title>
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <script src="/send_url.js"></script>
        <script src='fullcalendar/dist/locale/ja.js'></script>
    </head>
    <body>
        <div class="container" style="padding: 5;">
            <div class="card">
                <h2>フルロードカレンダー</h2>
                <div id="calendar"></div>
            </div>
    </body>

    <script type="text/javascript">
        //scriptタグの中にこう↓↓書きます。scriptタグの書き方はプロジェクト毎に変えてください
        $(function() {
            $('#calendar').fullCalendar({
                // ヘッダーのタイトルとボタン
                header: {
                    // title, prev, next, prevYear, nextYear, today
                    left: 'prevYear,prev,today,next,nextYear',
                    center: 'title',
                    right: 'month agendaWeek agendaDay'
                },
                    //jQuery UI theme
                    theme: false,
                    //最初の曜日
                    firstDay: 1, //1:月曜日
                events:[
                 {start: '2021-02-01', rendering: 'background', color: '#ffd0d0'},
                 {start: '2021-02-11', title:'建国記念の日', color: '#ffd0d0'}
                ],

                firstDay: 3,
            });
            $('.fc-day-top[data-date="2021-02-01"] .fc-day-number').css({'color': 'red'});
        });
    </script>
</html>
