<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <div class="panel">
          <h2>スケジュール登録</h2>
          <form action="/signup" method="POST">
            <p>ユーザー名</p>
            <input type="text" name="username">
            <p>日付</p>
            <input type="date" name="date">
            <p>時間</p>
            <input type="timestamp" name="time">
            <p>タイトル</p>
            <input type="text" name="title">
            <p>詳細</p>
            <input type="text" name="contents">
            <input type="submit" value="登録する">
            <a href="/list1">一覧にもどる</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>